<html>
<head>
    <h1>{{ course }}</h1>
  <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
  <script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
  <script>ZiggeoApi.token = "61113f2c9913e0daecefe88965a37dac";</script>

</head>
<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <h2>Record Video:</h2>
  <div class="frame" id="record">
      <ziggeo ziggeo-width=320
      ziggeo-height=240
      ziggeo-title= {{ course }}>
      </ziggeo>
      Upload a video.
  </div>
    <h2>Videos:</h2>
    {% for video in ziggeo.videos().index() %}
      {% if video['title'] == course %}
        <div class="wall-of-videos-container" id="video">
            <ziggeo ziggeo-video= {{ video['token'] }}
            ziggeo-width=320
            ziggeo-height=240
            ziggeo-popup
            ziggeo-title="Testing"></ziggeo>
            {% print datetime.datetime.fromtimestamp(video['created'] 
                        ).strftime('%Y-%m-%d %H:%M:%S') %}
            {% print "Duration: ", video['duration'] %}
        </div>
      {% endif %}
    {% endfor %}

</body>
</html>
