<html>
<head>
    <title>Classes</title>
  <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
  <script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
  <script>ZiggeoApi.token = "61113f2c9913e0daecefe88965a37dac";</script>

</head>
<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <h1>Record Video:</h1>
  <div class="frame" id="record">
      <ziggeo ziggeo-width=320
      ziggeo-height=240>
              </ziggeo>
      Record Here
  </div>
    <h1>Videos:</h1>
  <div class="wall-of-videos-container" id="video">
      <ziggeo ziggeo-video="daa6959af89cb0e39a6229ff5e173373"
        ziggeo-width=320
        ziggeo-height=240
        ziggeo-title="Testing"></ziggeo>
      <ziggeo ziggeo-video="3907713ad551dfbbd30b92080d78ffd3"
        ziggeo-width=320
        ziggeo-height=240></ziggeo>
  </div>

</body>
</html>
