<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EoS</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/layout.css') }}">

    <!-- <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/class.js"></script>-->

    <link rel=stylesheet type=javascript href="{{ url_for('static', filename='js/vendor/jquery.js') }}">
    <link rel=stylesheet type=javascript href="{{ url_for('static', filename='js/foundation.min.js') }}">
    <link rel=stylesheet type=javascript href="{{ url_for('static', filename='js/vendor/modernizr.js') }}">


    <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
    <script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
    <script>ZiggeoApi.token = "61113f2c9913e0daecefe88965a37dac";</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 
  </head>


  <body>
        <!-- Nav Bar -->
  <div class="content">
      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="/dashboard" class="button"><h5>Home</h5></a></li>
             <li><a href="/logout" class="button"><h5>Log Out</h5></a></li>
            </ul>
          </div>
          <h1><img src="{{ url_for('static', filename='logo.png') }}" style="width: 60px;"/>EoS <small>Education. Realtime.</small></h1>
          <hr />
        </div>
      </div>
      <!-- End Nav -->


      <!-- Main Feed -->
        <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->

        <div class="large-12 columns">
          
          <div class="row">
            <br/>
            {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                  {%- for msg in msgs %}
                  <center>
                    <div class="twelve columns text-center">
                    <div data-alert class="alert-box info radius">
                    <!-- Your content goes here -->
                    {{ msg }}
                    <a href="#" class="close">&times;</a>
                    </div>
                    </div>
                  </center>
                  {% endfor -%}
                {% endif %}
              {% endwith %}
          </div>

          <!-- Feed Entry -->
          <div class="row">
            <center><h2>Course: {{ course }}</h2><center>
          </div>
          <!-- End Feed Entry -->
     
          <!-- record new video -->
          <div class="row">
          {% if session.is_prof %}
          <h2 class="subheader">Record a New Video</h2>
          <div class="frame" id="record">
                Video Description: <input type="text" id="description" placeholder="Add a description of the video..">
                <button class="button radius alert" onclick="myFunction()">Start Recording</button>
                <script>
                    function myFunction() {
                        var d = document.getElementById("description").value;
                        var c = "{{ course }}";
                        var zig=document.createElement('ziggeo');
                        zig.setAttribute("ziggeo-description",String(d));
                        zig.setAttribute("ziggeo-height",240);
                        zig.setAttribute("ziggeo-width",320);
                        zig.setAttribute("ziggeo-title",c);
                        document.getElementById("upload").appendChild(zig);
                    }
                  </script>
              </div>
            <div id="upload">
          </div>
          {% endif %}
        </div>
     
        <!-- all videos -->
        <hr/>
        <div class="row"><h2 class="subheader">Videos</h2></div>
        {% for video in ziggeo.videos().index() %}
          {% if video['title'] == course %}
            
          <div class="row">
            <div class="large-4 columns small-3">
            <div class="wall-of-videos-container" id="video">
                  <ziggeo ziggeo-video= {{ video['token'] }}
                  ziggeo-width=320
                  ziggeo-height=240
                  ziggeo-popup
                  ></ziggeo>
                 <!--  {% print datetime.datetime.fromtimestamp(video['created'] 
                              ).strftime('%Y-%m-%d %H:%M:%S') %}
                  {% print "Duration: ", video['duration'] %} -->
                  <!-- <br>{% print video['description'] %}</br> -->
              </div>
            </div>

            <div class="large-8 columns">
              <!-- <p><strong>Video Info</strong>  -->
              <!-- <p><strong>Video ID: </strong>{% print video['token'] %}</p> -->
              <strong>Date Recorded:  </strong>{% print datetime.datetime.fromtimestamp(video['created'] 
                              ).strftime('%Y-%m-%d %H:%M:%S') %}
              <br/><strong>Duration (seconds):  </strong>{% print video['duration'] %}
              <br/><strong>Video Description:  </strong>{% print video['description'] %}


              <h4>Comments</h4>

              {% for c in comments %}
                {% if c[0] == video['token'] %}
                <div class="panel radius">
                  <div class="row">
                    <!-- <div class="large-1 columns"></div> -->
                    <div class="large-11 columns"><bold>{% print c[1] %} ({% print c[2] %}):</bold> 
                      {% print c[3] %}</div>
                  </div>
                </div>
                  <!-- <br/> -->
                  
                {% endif %}
              {% endfor %}

              <!-- one comment -->
              <!-- <div class="row">
                <div class="large-11 columns"><p><strong>Some Person said:</strong> Comment 1 Comment 1 Comment 1 Comment 1 Comment 1 Comment 1 Comment 1</p></div>
              </div>
              <br/> -->

              <!-- add comment form! -->
              <div class="row">
              <div class="large-12 columns">
              <div class="row collapse">

                <form class="newCommentPost" action="/addcomment" method="post">  
                  <div class="small-10 columns">
                    <input type="text" class="commentText" name="commentText" placeholder="Write a comment..">
                    <input type="hidden" class="videoId" name="videoId" value={% print video['token'] %} >
                    <input type="hidden" class="currCourse" name="currCourse" value={{ course }} >
                  </div>
                  <div class="small-2 columns">
                    <input class="button submitComment postfix radius disabled" type="submit" value="Post" style="display:inline-block;">
                  </div>
                </form>

              </div>
              </div>
              </div>

            </div>
          </div>
          <hr />
          {% endif %}
        {% endfor %}

        <script>
      $(".newCommentPost").submit(function (e) {
          // if ($(".commentText").val() == "") {
          //     alert("You didn't write a comment, try again!");
          // } else {
            // alert($(".commentText").val());
            // alert($(".videoId").val());
            // alert($(".currCourse").val());
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            console.log(postData);
            console(formURL);
            $.ajax({
                url: formURL,
                type: "POST",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    alert("Comment was sucessfully added!");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Comment was not posted, please try again. " + errorThrown);
                }
            });
          // }
          e.preventDefault();
      }); 
    </script>

     
        </div>
      </div>
     
     
      <!-- Footer -->
     
      <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright 2015 EoS</p>
            </div>
          </div>
        </div>
      </footer>



  </div>
    <link rel=stylesheet type=javascript href="{{ url_for('static', filename='js/vendor/jquery.js') }}">
    <link rel=stylesheet type=javascript href="{{ url_for('static', filename='js/foundation.min.js') }}">
    <script>
      // $(document).foundation();
    </script>
  </body>
</html>



