<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EoS</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="js/vendor/modernizr.js"></script>
  </head>


  <body>
        <!-- Nav Bar -->
        <div class="content">
            <div class="row">
              <div class="large-12 columns">
                <div class="nav-bar right">
                 <ul class="button-group">
                   <li><a href="/dashboard" class="button"><h5>Home</h5></a></li>
                   <li><a href="/allclasses" class="button"><h5>All Classes</h5></a></li>
                   <li><a href="/logout" class="button"><h5>Log Out</h5></a></li>
                  </ul>
                </div>
                <h1><img src="{{ url_for('static', filename='logo.png') }}" style="width: 60px;"/>EoS <small>Education. Realtime.</small></h1>
                <hr />
              </div>
            </div>
      <!-- End Nav -->
     
        <div class="row">
            <br/>
            {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                  {%- for msg in msgs %}
                  <center>
                    <div class="twelve columns text-center">
                    <div data-alert class="alert-box info radius">
                    <!-- Your content goes here -->
                    {{ msg }}
                    <a href="#" class="close">&times;</a>
                    </div>
                    </div>
                  </center>
                  {% endfor -%}
                {% endif %}
              {% endwith %}
          </div>

<div class="large-12 columns">
  <div class="row">

        <!--Feed -->
        <div class="large-8 columns">
          <fieldset>
          <legend>Latest Updates</legend>

          <!-- <blockquote>Jon uploaded a video to CIS 350.<cite>01/18/2015 12:00pm</cite></blockquote>
          <blockquote>Jon uploaded a video to CIS 350.<cite>01/18/2015 12:00pm</cite></blockquote> -->
          <small><cite>01/18/2015 2:00am</cite></small>
          <blockquote>Jonathan Chen commented on a video in <a href=/class/CIS120> CIS120</a>.</blockquote>
          <small><cite>01/17/2015 16:03pm</cite></small>
          <blockquote>Jonathan Chen uploaded a video in <a href=/class/CIS350> CIS350</a>.</blockquote>
          <small><cite>01/17/2015 16:03pm</cite></small>
          <blockquote>Kelly Zhou uploaded a video in <a href=/class/CIS120> CIS120</a>.</blockquote>
          <small><cite>01/17/2015 10:53am</cite></small>
          <blockquote>Hugsy commented on a video in <a href=/class/CIS120> CIS120</a>.</blockquote>
          <small><cite>01/16/2015 23:23pm</cite></small>
          <blockquote>Kelly Zhou uploaded a video in <a href=/class/NETS212> NETS212</a>.</blockquote>
          <small><cite>01/16/2015 20:30pm</cite></small>
          <blockquote>Jonathan Chen uploaded a video in <a href=/class/CIS120> CIS120</a>.</blockquote>

          </fieldset>

        </div>

        <!-- Right Sidebar -->
        <!-- On small devices this column is hidden -->
        <div class="large-4 columns ">
          <div class="panel">
            <a href="#"><img src="http://braddyc.files.wordpress.com/2011/09/penguin.png" /></a>
            <h5>Name: {{ name }} </h5>
            <h5>Email: {{ email }} </h5>
            <h5>School: {{ school }} </h5>
            <h5>Type of Account: {{ account }} </h5>
              <br/><div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
              <h5>Courses Enrolled: </h5>
              {% for course in courses.split('|')[1:-1] %}
                <section class="section">
                  <h5 class="title"><a href=/class/{{ course }}> {{ course }} </a></h5>
                </section>
              {% endfor %}

              {% if session.is_prof %}
              <br><button class="button radius success" onclick="addClass()">Create a New Class</button>
              {% endif %}
            </div>

                <script>
                function addClass() {
                  var course = prompt("Please enter the class name");
                  if (course != "" && course != null) {
                      //var postData = $(this).serializeArray();
                      $.ajax({
                          url : "/addclass",
                          type : "POST",
                          data : {
                              'course' : course,
                              'create' : '1'
                          },
                          success : function(r){
                              alert("Successfully added " + course + "!");
                              console.log("Request successful");}
                      });
                      }else {
                      alert("Please enter a class name.")
                  }
                }
                </script>
     
          </div>
        </div>
        </div>
      </div>
     
      </div>
     
     

      <!-- Footer -->
     
      <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright EoS</p>
            </div>
          </div>
        </div>
      </footer>



  </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
